.load-more {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:before {
    content: '+';
    position: absolute;
    top: 51%;
    left: 50%;
    font-size: 46px;
    line-height: 46px;
    transform: translateX(-50%);
  }

}