/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

body {
  font-family: 'Karma', serif;
  font-weight: 300;
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  text-align: left;
  font-size: 26px;
}

h2, h3 {
  text-align: left;
}

h2 {
  font-size: 22px;
  font-weight: 300;
  text-align: center;
}

h3 {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}

body {
  position: relative;
  overflow-x: hidden;
}

body, button, ul, li, h2, h3, p {
  margin: 0;
  padding: 0;
}

section {
  padding: 100px 0;
}

@media (max-width: 991px) {
  section {
    padding: 50px 0;
  }
}

@media (max-width: 600px) {
  section {
    padding: 30px 0;
  }
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

a {
  color: #ccc;
}

a:hover {
  color: #919191;
  text-decoration: none;
}

.slide {
  outline: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.load-more {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  cursor: pointer;
}

.load-more:before {
  content: '+';
  position: absolute;
  top: 51%;
  left: 50%;
  font-size: 46px;
  line-height: 46px;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  padding: 30px 15px;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 300px;
  border: 1px solid #000;
  background-color: #fff;
  box-sizing: border-box;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

.popup ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.popup ul li {
  text-align: center;
  margin-bottom: 7.5px;
}

.popup ul li:first-child {
  margin-bottom: 30px;
  font-size: 28px;
}

.popup ul li:last-child {
  margin-bottom: 0;
}

.popup button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  background-color: #fff;
  padding: 7.5px 30px;
  border: 1px solid #000;
  text-transform: uppercase;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
}

.products-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-card {
  width: 33.33%;
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
}

.product-card .slider .slick-slide {
  outline: none;
}

.product-card .product-card-price {
  outline: none;
}

.product-card [class^="price-slider"] {
  max-width: 180px;
}

.product-card .product-card-images {
  position: relative;
  width: 100%;
}

.product-card .product-card-images img {
  z-index: 1;
  transition: all 0.3s;
  object-fit: cover;
}

.product-card .product-card-images img:last-child {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
}

.product-card .product-card-images:hover img {
  opacity: 0;
}

.product-card .product-card-images:hover img:last-child {
  opacity: 1;
}

@media (max-width: 767px) {
  .product-card .product-card-title {
    font-size: 16px;
  }
}

.product-card .product-card-footer {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 10px 0;
}

.product-card .product-card-footer .wrapper {
  width: 100%;
  padding-right: 90px;
}

.product-card .product-card-colors {
  position: absolute;
  top: 10px;
  right: 0;
  min-width: 54px;
}

.product-card .product-card-colors .product-card__color {
  position: relative;
  z-index: 1;
  width: 40px !important;
  height: 40px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-size: cover;
  outline: none;
  box-sizing: border-box;
}

.product-card .product-card-colors .product-card__color.not-available:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-left: 1px solid #ccc;
  -ms-transform: rotate(45deg) translate(50%, 0);
      transform: rotate(45deg) translate(50%, 0);
}

.product-card .product-card-colors .product-card__color.not-available:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-right: 1px solid #ccc;
  -ms-transform: rotate(-45deg) translate(-50%, 0);
      transform: rotate(-45deg) translate(-50%, 0);
}

@media (max-width: 991px) {
  .product-card {
    width: 50%;
  }
}

@media (max-width: 650px) {
  .product-card {
    width: 100%;
  }
}

.single-product .slick-disabled {
  display: none !important;
}

.single-product .main-slider {
  margin-bottom: 15px;
}

.single-product .main-slider img {
  outline: none;
}

.single-product .nav-slider {
  position: relative;
  padding: 0 15px;
}

.single-product .nav-slider img {
  padding: 0 7.5px;
  outline: none;
}

.single-product .nav-slider .slick-arrow {
  position: absolute;
  top: 50%;
  line-height: 26px;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}

.single-product .nav-slider .slick-arrow:before {
  display: none;
}

.single-product .nav-slider .slick-arrow:after {
  font-family: 'FontAwesome';
  font-size: 26px;
  color: #000;
}

.single-product .nav-slider .slick-next {
  right: -7.5px;
}

.single-product .nav-slider .slick-next:after {
  content: '\f054';
  color: #000;
}

.single-product .nav-slider .slick-prev {
  left: -7.5px;
}

.single-product .nav-slider .slick-prev:after {
  content: '\f053';
  color: #000;
}

.single-product .container {
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .single-product .container {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

.single-product .single-product-title {
  display: block;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.single-product .container--half {
  position: relative;
  width: 50%;
  padding: 30px;
  box-sizing: border-box;
}

@media (max-width: 991px) {
  .single-product .container--half {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

.single-product .single-product-price {
  display: inline-block;
  font-size: 26px;
  margin-bottom: 30px;
}

.single-product .single-product-code {
  display: block;
  margin-bottom: 30px;
}

.single-product .single-product-colors {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.single-product .single-product-colors span {
  margin-right: 15px;
}

.single-product .single-product-colors .colors {
  display: -ms-flexbox;
  display: flex;
}

.single-product .single-product-colors .color {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-size: cover;
}

.single-product .single-product-colors .color:not(:last-child) {
  margin-right: 15px;
}

.single-product .single-product-colors .color.not-available:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 1px solid #ccc;
  -ms-transform: rotate(45deg) translate(50%, 0);
      transform: rotate(45deg) translate(50%, 0);
}

.single-product .single-product-colors .color.not-available:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-right: 1px solid #ccc;
  -ms-transform: rotate(-45deg) translate(-50%, 0);
      transform: rotate(-45deg) translate(-50%, 0);
}

.single-product .single-product-qty {
  text-transform: uppercase;
}

.single-product .single-product-qty span {
  margin-right: 7.5px;
}

.single-product .single-product-qty input {
  padding: 7.5px;
  max-width: 30px;
  text-align: center;
}

.single-product .single-product-qty input::-webkit-outer-spin-button, .single-product .single-product-qty input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.single-product .single-product-qty input:disabled {
  background-color: rgba(0, 0, 0, 0.01);
  border-style: solid;
  border-color: #ccc;
  color: #ccc;
  border-width: 1px;
}

.single-product .single-product-cart {
  width: 100%;
  margin: 30px 0;
  padding: 15px;
  background-color: black;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .single-product .single-product-cart {
    max-width: 480px;
    margin: 30px auto;
  }
}

.single-product .single-product-accordion {
  margin-bottom: 30px;
}

.single-product .single-product-accordion .is-active .accordion-item__title:before {
  content: '\f068';
}

.single-product .accordion-item__title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  padding: 15px 7px;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
}

.single-product .accordion-item__title:before {
  content: '\f067';
  font-family: 'FontAwesome';
  margin-right: 7.5px;
  font-size: 20px;
}

.single-product .accordion-item__body {
  display: none;
  padding: 15px;
}

.single-product .single-product-panel {
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 991px) {
  .single-product .single-product-panel {
    right: 50%;
    -ms-transform: translateX(50%);
        transform: translateX(50%);
  }
}

.single-product .single-product-panel button {
  padding: 5px;
  background-color: transparent;
}

.single-product .single-product-panel button:after {
  font-family: 'FontAwesome';
  font-size: 26px;
  color: #000;
}

.single-product .single-product-panel button:first-child:after {
  content: '\f053';
  color: #000;
}

.single-product .single-product-panel button:last-child:after {
  content: '\f054';
  color: #000;
}

.single-product .single-product-info {
  display: -ms-flexbox;
  display: flex;
}

.single-product .single-product-info img {
  width: 33.33%;
  object-fit: contain;
}

.single-product .popup-color {
  position: absolute;
  top: -120px;
  display: none;
  width: 90px;
  height: 100px;
  left: 50%;
  background-color: #fff;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  z-index: 2;
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.2);
}

.single-product .popup-color span {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-size: 15px;
  color: #000;
  width: 100%;
  height: 35px;
  text-align: center;
  padding: 3px;
  box-sizing: border-box;
  background-color: #e9e9e9;
}

.single-product .popup-color img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

.single-product .popup-color:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: -1;
  width: 20px;
  height: 20px;
  background-color: #fff;
  -ms-transform: translate(-50%, 50%) rotate(45deg);
      transform: translate(-50%, 50%) rotate(45deg);
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.2);
}

.single-product .single-product-social {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.single-product .single-product-social span {
  margin-right: 15px;
}

.single-product .single-product-social .social-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.single-product .single-product-social .social {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 45px;
  font-size: 18px;
}

.single-product .single-product-social .social:before {
  position: absolute;
  top: -1px;
  left: 25px;
  font-family: 'FontAwesome';
  font-size: 18px;
}

.single-product .single-product-social .facebook:before {
  content: '\f09a';
}

.single-product .single-product-social .twitter:before {
  content: '\f099';
}

.single-product .single-product-social .pinterest:before {
  content: '\f0d2';
}

.single-product .single-product-social .print:before {
  display: none;
  padding-left: 15px;
}
