.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px 15px;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 300px;
  border:  1px solid #000;
  background-color: #fff;
  box-sizing: border-box;
  transform: translate(-50%, -50%);

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    li {
      text-align: center;
      margin-bottom: 7.5px;

      &:first-child {
        margin-bottom: 30px;
        font-size: 28px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    background-color: #fff;
    padding: 7.5px 30px;
    border: 1px solid #000;
    text-transform: uppercase;
    transform: translateX(-50%);
  }
}