.product-card {
  width: 33.33%;
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;

  .slider {

    .slick-slide {
      outline: none;
    }
  }

  .product-card-price {
    outline: none;
  }

  [class^="price-slider"] {
    max-width: 180px;
  }


  .product-card-images {
    position: relative;
    width: 100%;

    img {
      z-index: 1;
      transition: all 0.3s;
      object-fit: cover;

      &:last-child {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 2;
      }
    }

    &:hover {

      img {
        opacity: 0;

        &:last-child {
          opacity: 1;
        }
      }
    }
  }

  .product-card-title {

    @include breakpoint(extra-small) {
      font-size: 16px;
    }
  }

  .product-card-footer {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0;

    .wrapper {
      width: 100%;
      padding-right: 90px;
    }
  }

  .product-card-colors {
    position: absolute;
    top: 10px;
    right: 0;
    min-width: 54px;

    .product-card__color {
      position: relative;
      z-index: 1;
      width: 40px !important;
      height: 40px;
      cursor: pointer;
      border: 1px solid #ccc;
      background-size: cover;
      outline: none;
      box-sizing: border-box;

      &.not-available {

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          width: 100%;
          height: 100%;
          border-left: 1px solid #ccc;
          transform: rotate(45deg) translate(50%, 0);
        }

        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          z-index: 2;
          width: 100%;
          height: 100%;
          border-right: 1px solid #ccc;
          transform: rotate(-45deg) translate(-50%, 0);
        }
      }
    }
  }


  @include breakpoint(small) {
    width: 50%;
  }

  @media (max-width: 650px) {
    width: 100%;
  }
}