.single-product {

  .slick-disabled {
    display: none !important;
  }

  .main-slider {
    margin-bottom: 15px;

    img {
      outline: none;
    }
  }

  .nav-slider {
    position: relative;
    padding: 0 15px;

    img {
      padding: 0 7.5px;
      outline: none;
    }

    .slick-arrow {
      position: absolute;
      top: 50%;
      line-height: 26px;
      transform: translateY(-50%);

      &:before {
        display: none;
      }

      &:after {
        font-family: 'FontAwesome';
        font-size: 26px;
        color: #000;
      }
    }

    .slick-next {
      right: -7.5px;

      &:after {
        content: '\f054';
        color: #000;
      }
    }

    .slick-prev {
      left: -7.5px;

      &:after {
        content: '\f053';
        color: #000;
      }
    }
  }

  .container {
    display: flex;

    @include breakpoint(small) {
      flex-direction: column;
    }
  }

  .single-product-title {
    display: block;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }

  .container--half {
    position: relative;
    width: 50%;
    padding: 30px;
    box-sizing: border-box;

    @include breakpoint(small) {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
  }

  .single-product-price {
    display: inline-block;
    font-size: 26px;
    margin-bottom: 30px;
  }

  .single-product-code {
    display: block;
    margin-bottom: 30px;
  }

  .single-product-colors {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    text-transform: uppercase;

    span {
      margin-right: 15px;
    }

    .colors {
      display: flex;
    }

    .color {
      position: relative;
      width: 30px;
      height: 30px;
      cursor: pointer;
      border: 1px solid #ccc;
      background-size: cover;

      &:not(:last-child) {
        margin-right: 15px;
      }

      &.not-available {

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-left: 1px solid #ccc;
          transform: rotate(45deg) translate(50%, 0);
        }

        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          border-right: 1px solid #ccc;
          transform: rotate(-45deg) translate(-50%, 0);
        }
      }
    }
  }

  .single-product-qty {
    text-transform: uppercase;
    span {
      margin-right: 7.5px;
    }

    input {
      padding: 7.5px;
      max-width: 30px;
      text-align: center;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &:disabled {
        background-color: rgba(#000, 0.01);
        border-style: solid;
        border-color: #ccc;
        color: #ccc;
        border-width: 1px;
      }
    }
  }

  .single-product-cart {
    width: 100%;
    margin: 30px 0;
    padding: 15px;
    background-color: black;
    color: #fff;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint(small) {
      max-width: 480px;
      margin: 30px auto;
    }
  }


  .single-product-accordion {
    margin-bottom: 30px;

    .is-active {

      .accordion-item__title {
        &:before {
          content: '\f068';
        }
      }
    }
  }

  .accordion-item__title {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 7px;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
    cursor: pointer;
    box-sizing: border-box;

    &:before {
      content: '\f067';
      font-family: 'FontAwesome';
      margin-right: 7.5px;
      font-size: 20px;
    }
  }

  .accordion-item__body {
    display: none;
    padding: 15px;
  }

  .single-product-panel {
    position: absolute;
    top: 0;
    right: 0;

    @include breakpoint(small) {
      right: 50%;
      transform: translateX(50%);
    }

    button {
      padding: 5px;
      background-color: transparent;
      &:after {
        font-family: 'FontAwesome';
        font-size: 26px;
        color: #000;
      }

      &:first-child {
        &:after {
          content: '\f053';
          color: #000;
        }
      }

      &:last-child {
        &:after {
          content: '\f054';
          color: #000;
        }
      }
    }
  }

  .single-product-info {
    display: flex;

    img {
      width: 33.33%;
      object-fit: contain;
    }
  }

  .popup-color {
    position: absolute;
    top: -120px;
    display: none;
    width: 90px;
    height: 100px;
    left: 50%;
    background-color: #fff;
    transform: translateX(-50%);
    z-index: 2;
    box-shadow: 0 0 7px 1px rgba(#000, 0.2);

    span {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      color: #000;
      width: 100%;
      height: 35px;
      text-align: center;
      padding: 3px;
      box-sizing: border-box;
      background-color: #e9e9e9;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 2;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: -1;
      width: 20px;
      height: 20px;
      background-color: #fff;
      transform: translate(-50%, 50%) rotate(45deg);
      box-shadow: 0 0 7px 1px rgba(#000, 0.2);
    }
  }

  .single-product-social {
    display: flex;
    margin-bottom: 15px;

    span {
      margin-right: 15px;
    }

    .social-wrapper {
      display: flex;
      align-items: center;
    }

    .social {
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 45px;
      font-size: 18px;

      &:before {
        position: absolute;
        top: -1px;
        left: 25px;
        font-family: 'FontAwesome';
        font-size: 18px;
      }
    }

    .facebook {

      &:before {
        content: '\f09a';
      }
    }

    .twitter {

      &:before {
        content: '\f099';
      }
    }

    .pinterest {

      &:before {
        content: '\f0d2';
      }
    }

    .print {

      &:before {
        display: none;
        padding-left: 15px;
      }
    }
  }
}