@import "variables";
@import "fonts";
@import "typography";


body {
	position: relative;
	overflow-x: hidden;
}

body,button,ul,li,h2,h3,p {
	margin: 0;
	padding: 0;
}

section {
	padding: 100px 0;

	@include breakpoint(small){
		padding: 50px 0;
	}
	@include breakpoint(small-tablet-portrait){
		padding: 30px 0;
	}
}

ul, li {
	list-style: none;
}

img {
	max-width: 100%;
}

button {
	border: none;
	cursor: pointer;
	outline: none;
}

a {
	color: $text-main-color;

	&:hover {
		color: $text-hover-color;
		text-decoration: none;
	}
}

.slide {
	outline: none;
}



