//typography: base styles for fonts, p, a, standard h1, h2 ...

body {
	font-family: 'Karma', serif;
	font-weight: 300;
	font-style: normal;
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	text-align: left;
	font-size: 26px;
}

h2,h3 {
	text-align: left;
}

h2 {
	font-size: 22px;
	font-weight: 300;
	text-align: center;
}

h3 {
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	text-align: left;
}